@model List<Event>

<div class="row pb-3">
    @foreach (var events in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                   
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@events.EventName</p>
                                <p class="card-title text-warning text-center">by <b>@events.EventDate</b></p>
                           
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    TicketPrice:
                                    <span >
                                        @events.TicketPrice.ToString("c")
                                    </span>
                                </p>
                            </div>

                        <div class="col-12 p-1">
                            <a asp-area="Customers" asp-controller="Home" asp-action="Details" asp-route-EventId="@events.EventId" class="btn btn-outline-primary"> Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col text-end pt-1">
        <a asp-area="Customers" asp-controller="Home" asp-action="CreateVBooking"  class="btn btn-outline-primary"> BookTickets</a>
    </div>
</div>